* {
    margin: 0;
    paddle: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #2C2B3D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    margin-top: 70px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 60px;
}

li > a {
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

main {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#girl {
    width: 30w;
}

.main-text {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 58px;
}

h1 {
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

#h1-strong {
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #00BFA6;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #C2C2C2;
}

#p-strong {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #00BFA6;
}

.p-gray-strong {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #C2C2C2;
}

footer {
    width: 40vw;
    margin-bottom: 23px;
    padding-top: 27px;
    text-align: center;
    border-top: 1px solid #00BFA6;
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}

footer > a {
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}

#padlock {
    margin: 20px;
    width: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
}